auto_sync = {{ .features.atuin_sync }}
sync_frequency = "10m"
sync_address = "{{ .atuin.sync_address }}"
search_mode = "fuzzy"
filter_mode = "global"
filter_mode_shell_up_key_binding = "session"
style = "compact"
inline_height = 20
show_preview = true
exit_mode = "return-original"
word_jump_mode = "subl"
scroll_context_lines = 1
keymap_mode = "auto"
update_check = false

[ai]
enabled = true
