[user]
	email = {{ .email }}
	name = {{ .name }}
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- if eq .chezmoi.os "darwin" }}
[difftool "sourcetree"]
	cmd = opendiff "$LOCAL" "$REMOTE"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED"
	trustExitCode = true
{{- end }}
