gui:
  nerdFontsVersion: "3"
  theme:
{{- if eq .theme.name "tokyonight_storm" }}
    activeBorderColor: ["#ff9e64", "bold"]
    inactiveBorderColor: ["#565f89"]
    searchingActiveBorderColor: ["#ff9e64", "bold"]
    optionsTextColor: ["#7aa2f7"]
    selectedLineBgColor: ["#2e3c64"]
    cherryPickedCommitFgColor: ["#7aa2f7"]
    cherryPickedCommitBgColor: ["#bb9af7"]
    markedBaseCommitFgColor: ["#7aa2f7"]
    markedBaseCommitBgColor: ["#e0af68"]
    unstagedChangesColor: ["#db4b4b"]
    defaultFgColor: ["#c0caf5"]
{{- else if eq .theme.name "catppuccin_macchiato" }}
    activeBorderColor: ["#fab387", "bold"]
    inactiveBorderColor: ["#6c7086"]
    searchingActiveBorderColor: ["#fab387", "bold"]
    optionsTextColor: ["#89b4fa"]
    selectedLineBgColor: ["#313244"]
    cherryPickedCommitFgColor: ["#89b4fa"]
    cherryPickedCommitBgColor: ["#cba6f7"]
    markedBaseCommitFgColor: ["#89b4fa"]
    markedBaseCommitBgColor: ["#f9e2af"]
    unstagedChangesColor: ["#f38ba8"]
    defaultFgColor: ["#cdd6f4"]
{{- else if eq .theme.name "rose_pine" }}
    activeBorderColor: ["#f6c177", "bold"]
    inactiveBorderColor: ["#6e6a86"]
    searchingActiveBorderColor: ["#f6c177", "bold"]
    optionsTextColor: ["#9ccfd8"]
    selectedLineBgColor: ["#26233a"]
    cherryPickedCommitFgColor: ["#9ccfd8"]
    cherryPickedCommitBgColor: ["#c4a7e7"]
    markedBaseCommitFgColor: ["#9ccfd8"]
    markedBaseCommitBgColor: ["#f6c177"]
    unstagedChangesColor: ["#eb6f92"]
    defaultFgColor: ["#e0def4"]
{{- else if eq .theme.name "kanagawa" }}
    activeBorderColor: ["#ffa066", "bold"]
    inactiveBorderColor: ["#54546d"]
    searchingActiveBorderColor: ["#ffa066", "bold"]
    optionsTextColor: ["#7e9cd8"]
    selectedLineBgColor: ["#2d4f67"]
    cherryPickedCommitFgColor: ["#7e9cd8"]
    cherryPickedCommitBgColor: ["#957fb8"]
    markedBaseCommitFgColor: ["#7e9cd8"]
    markedBaseCommitBgColor: ["#dca561"]
    unstagedChangesColor: ["#e82424"]
    defaultFgColor: ["#dcd7ba"]
{{- else if eq .theme.name "night_owl" }}
    activeBorderColor: ["#ecc48d", "bold"]
    inactiveBorderColor: ["#637777"]
    searchingActiveBorderColor: ["#ecc48d", "bold"]
    optionsTextColor: ["#82aaff"]
    selectedLineBgColor: ["#1d3b53"]
    cherryPickedCommitFgColor: ["#82aaff"]
    cherryPickedCommitBgColor: ["#c792ea"]
    markedBaseCommitFgColor: ["#82aaff"]
    markedBaseCommitBgColor: ["#ecc48d"]
    unstagedChangesColor: ["#ef5350"]
    defaultFgColor: ["#d6deeb"]
{{- end }}
